* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Pacifico", sans-serif;
  position: relative;
  min-height: 100%;
  padding-bottom: 80px;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

body {
  background: #efefef;
  padding: 0 16px;
  background-image: url("https://www.transparenttextures.com/patterns/brick-wall.png");
}

header {
  background-color: #0fbcf9;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "Pacifico", sans-serif;
  display: inline-block;
  font-size: 2.5em;
}

.nav-link {
  color: white !important;
  float: right;
  font-size: 1em;
  margin-top: 15px;
  cursor: pointer !important;
  background: none;
  border: none;
}

.nav-link:hover {
  color: white;
  text-decoration: underline;
}

.link {
  background: none;
  border: none;
  display: inline;
  color: #007bff;
}

.link:hover {
  text-decoration: underline;
}

/* #socialIcon {
  display: inline-block;
  height: 30px;
  margin-right: 5px
} */
.btn-social {
  position: relative;
  padding-left: 10px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-social-icon {
  position: relative;
  padding-left: 44px;
  text-align: left;
  margin-right: 7px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 34px;
  width: 34px;
  padding: 0;
}

.btn-google {
  color: #fff;
  background-color: #dd4b39;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-google:focus,
.btn-google.focus {
  color: #fff;
  background-color: #c23321;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-google:hover {
  color: #fff;
  background-color: #c23321;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-google:active,
.btn-google.active,
.open>.dropdown-toggle.btn-google {
  color: #fff;
  background-color: #c23321;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-google:active:hover,
.btn-google.active:hover,
.open>.dropdown-toggle.btn-google:hover,
.btn-google:active:focus,
.btn-google.active:focus,
.open>.dropdown-toggle.btn-google:focus,
.btn-google:active.focus,
.btn-google.active.focus,
.open>.dropdown-toggle.btn-google.focus {
  color: #fff;
  background-color: #a32b1c;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-google:active,
.btn-google.active,
.open>.dropdown-toggle.btn-google {
  background-image: none;
}

.btn-google.disabled:hover,
.btn-google[disabled]:hover,
fieldset[disabled] .btn-google:hover,
.btn-google.disabled:focus,
.btn-google[disabled]:focus,
fieldset[disabled] .btn-google:focus,
.btn-google.disabled.focus,
.btn-google[disabled].focus,
fieldset[disabled] .btn-google.focus {
  background-color: #dd4b39;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-google .badge {
  color: #dd4b39;
  background-color: #fff;
}

.no-format-button {
  border: none;
  background: none;
}

#headerLogo {
  height: 65px;
  display: inline-block;
  background: none;
  border: none;
  margin-right: 20px;
  margin-left: 30px;
  margin-top: -15px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #f5f5f5;
  margin-left: -15px;
  margin-top: 100px;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  padding-bottom: 40px;
  color: #212529 !important;
  opacity: 1 !important;
}

.note h1 {
  font-size: 1.4em;
  font-weight: 600;
  margin-bottom: 15px;
  color: #212529 !important;
  opacity: 1 !important;
}

.note h2 {
  font-size: 1.2em;
  margin-bottom: 6px;
  color: #212529 !important;
  opacity: 1 !important;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #212529 !important;
  opacity: 1 !important;
}

.note textarea {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  width: 100%;
  padding: 0px 5px;
  resize: none;
  border: none;
  color: #212529;
  background-color: rgba(0, 0, 0, 0.05);
  opacity: 1 !important;
}

.note-title {
  font-size: 1.4em !important;
  font-weight: 600;
  margin-bottom: 15px;
  border: none;
  color: #212529;
  opacity: 1 !important;
}

.note textarea:disabled {
  background-color: inherit;
  border: none;
}

.note input:disabled {
  background-color: inherit;
}

.note button {
  position: relative !important;
  float: right !important;
  margin-right: 10px !important;
  color: #0fbcf9 !important;
  border: none !important;
  width: 36px !important;
  height: 36px !important;
  cursor: pointer !important;
  outline: none !important;
  background: none !important;
}

.note button:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
  border-radius: 100% !important;
}

.note button:disabled {
  color: #555 !important;
}

.card-body {
  box-shadow: 0 2px 5px #ccc;
}

#save-button {
  float: left !important;
}

#error {
  background-color: #FFF0F0;
  color: #FF0000;
  border: 0.5px solid #FFD6D6;
  font-size: 0.8em;
  padding: 5px;
  border-radius: .25rem;
}

form.create-nugget {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  box-shadow: 0 2px 5px #ccc;
}

form.create-nugget input,
form.create-nugget textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

form.create-nugget button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #0fbcf9;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

form p {
  margin-top: 20px;
}

.signup h1 {
  font-family: "Pacifico", sans-serif;
  margin-bottom: 20px;
}

#model {
  background-color: #C3EEFD;
  color: inherit;
}

#minimize-icon {
  color: #0fbcf9;
  position: absolute;
  right: 18px;
  top: 2px;
}

#date {
  float: right;
  font-size: 0.7em;
  color: #888;
}

#color-picker {
  border-radius: 10px !important;
  background-color: #E4E4E4 !important;
  box-shadow: 0 2px 5px #ccc;
  margin-bottom: -30px;
  width: 140px;
  padding: 5px;
}

#search-bar {
  position: relative;
  width: 300px;
  float: right;
  margin-right: 30px;
  margin-top: 12px;
  border-radius: 7px;
  border: none;
  background-color: #a3e5fc;
}

#search-bar input {
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  background-color: #a3e5fc;
}

#search-icon {
  margin-left: 10px;
}

#search-bar button {
  float: right;
  margin-right: 10px;
  padding-right: 10px !important;
  color: #0fbcf9 !important;
  border: none !important;
  width: 36px !important;
  height: 36px !important;
  cursor: pointer !important;
  outline: none !important;
  background-color: #a3e5fc;
}

@media only screen and (max-width: 648px) {
  #search-bar {
    width: 150px;
  }

  #search-bar input {
    width: 100px;
  }

  form.create-nugget {
    width: 90%;
  }

  #headerLogo {
    margin-left: 0px;
    margin-top: -5px;
  }

  header h1 {
    margin-top:
  }

  .nav-link {
    padding-right: 0px !important;
  }
}

.not-found {
  padding-top: 100px;
  text-align: center;
}

.not-found-link {
  margin-top: 30px;
}